.login-container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 25px));  
  flex-direction: column;
  align-items: center;
  
  & .login-title {
    height: 50px;
    margin: 0;
  }
  
  & .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 1rem;
    background-color: #fff;

    & .form-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 7px;
      min-width: 200px;

      label {
        font-size: 0.8rem;
        font-weight: 500;
        padding: 5px;
      }

      input {
        border: 1px solid #eee;
        border-radius: 3px;
        padding: 3px;
      }
    }

    & .form-sign-div {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      padding-bottom: 15px;

      button {
        border: none;
        background-color: transparent;
        font-weight: 500;
        color: #4c8ce1;
      }
    }
  }

  & .form-github-submit {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    border: none;
    border-radius: 3px;
    min-width: 200px;
    p {
        color: white;
        margin: 2px 5px;
    }
  }
}